.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  height: calc();
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

ul {
  width: 1300px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 130px;
}

ul img {
  width: 130px;
  height: 130px;
}

ul li {
  display: inline-block; /* убираем пустое место между элементами списка */
}

#image-container {
  width: 390px;
  overflow: hidden;
  position: relative;
}
#slider {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
}
